body {
    margin: 0;
    font-family: 'Roboto', serif;
    overflow-x: hidden;
    letter-spacing: 2px;
}
#content {
    display: flex;
    height: 93vh;
    justify-content: center;
}
.contentDiv {
    width: 80%;
    border-right: 1px solid black;
    margin: 1em;
    margin-bottom: 0;
    margin-top: 0;
    padding: 1em;
    background-color: #006495;
    color: white;
    display: flex;
}
.splitDiv {
    width: 50%;
}
#eatingDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
}
#foodReveal {
    font-size: 5em;
    padding: 0;
    height: 50%;
}
#revealDiv {
    max-height: 30%;
    min-height: 30%;
    width: 70%;
    margin: auto;
}
#menuDiv {
    width: 30%;
    border-left: 2px solid white;
    padding: 1em;
    height: 95%;
    background-color: white;
    color: #006495;
}
#listDiv {
    height: 45vh;
    overflow-y: scroll;
}
#addItemDiv {
    display: flex;
    flex-grow: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}
.inputDishField, .inputDishField:active, .inputDishField:focus {
    width: 100%;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #006495;
    outline: none;
    margin: 1em;
    
}

input, select, textarea {
    color: #006495;
}
#addDishButton {
    border: 0;
    background-color: #006495;
    color: white;
    font-size: 1em;
    padding: 1em 2em 1em 2em;
    margin: 1em;
    border-radius: 5px;
}
#addDishButton:hover {
    cursor: pointer;
}
::placeholder {
    color: #006495;
}
.itemDiv {
    font-size: 1.5em;
}

#optionsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.optionsContent {
    width: 100%;
    justify-content: center;
    display: flex;
}
.optionsContent label {
    font-size: 1.5em;
    margin: 0.5em;
}

#rouletteButton {
    color: white;
    background-color: #006495;
    border: none;
    padding: 1em 2em 1em 2em;
    font-size: 2em;
    border-radius: 5px;
    border: 2px solid white;
    width: 30%;
    margin: auto;
    margin-bottom: 2em;
}
#rouletteButton:hover {
    cursor: pointer;
}
#rouletteButton:active {
    transform: translateY(5px);
}
#addDishButton:active {
    transform: translateY(5px);
}
#title {
    height: 7vh;
    justify-content: left;
    width: 100%;
    display: flex;
    padding-top: 1em;
    padding-left: 1em;
    background-color: white;

}
header {
    position: sticky;
    top: 0;
}

#title h1 {
    padding: 0;
    margin: 0;
    color: #004C70;
}


h3 {
    border-bottom: 1px solid #006495;
    position: sticky;
    top: 0px;
    background-color: white;
}
h1, p {
    text-align: center;
}
footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    bottom: 0px;
    background-color: #333;
    width: 100%;
    margin: 0;
    color: white;
}
